<a href="https://colab.research.google.com/github/AtulJoshi1/Optimal-Retail-Store-Placement/blob/master/Retail_Geo_Spotting_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import math
from sklearn.neighbors import DistanceMetric

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df_nyc_checkins = pd.read_csv('/content/drive/My Drive/BDA/Datasets/Foursquare/DataSets/NYC TOKyo checkin/dataset_TSMC2014_NYC.tsv',sep='\t',encoding='ISO-8859-1',names=['User_ID','Venue_ID','Venue_category_ID','Venue_category_name','Latitude','Longitude','Timezone_offset','UTC_Time'],header=None)

In [4]:
df_nyc_checkins.head()

   User_ID  ...                        UTC_Time
0      470  ...  Tue Apr 03 18:00:09 +0000 2012
1      979  ...  Tue Apr 03 18:00:25 +0000 2012
2       69  ...  Tue Apr 03 18:02:24 +0000 2012
3      395  ...  Tue Apr 03 18:02:41 +0000 2012
4       87  ...  Tue Apr 03 18:03:00 +0000 2012

[5 rows x 8 columns]

In [0]:
df_nyc_checkins['Latitude'][0]

40.71981037548853

In [5]:
df_nyc_checkins.shape

(227428, 8)

### Data

In [0]:
x=df_nyc_checkins.iloc[:,3:6]

In [0]:
x

        Venue_category_name   Latitude  Longitude
0       Arts & Crafts Store  40.719810 -74.002581
1                    Bridge  40.606800 -74.044170
2            Home (private)  40.716162 -73.883070
3            Medical Center  40.745164 -73.982519
4                Food Truck  40.740104 -73.989658
...                     ...        ...        ...
227423          Music Venue  40.733596 -74.003139
227424         Burger Joint  40.745719 -73.993720
227425       Home (private)  40.854364 -73.883070
227426                  Bar  40.735981 -74.029309
227427                  Bar  40.726805 -73.957422

[227428 rows x 3 columns]

In [0]:
count_locations=df_nyc_checkins.groupby(['Latitude','Longitude']).size().reset_index().rename(columns={0:'count'})

In [0]:
count_locations

        Latitude  Longitude  count
0      40.550852 -73.931293      6
1      40.556602 -73.913372      2
2      40.557295 -73.911548     13
3      40.558871 -73.923459      1
4      40.559423 -73.926507      1
...          ...        ...    ...
42976  40.983151 -74.010437      1
42977  40.983611 -74.015588      1
42978  40.983991 -73.978946      3
42979  40.987646 -73.988880     16
42980  40.988332 -73.974185      2

[42981 rows x 3 columns]

In [0]:
print("No. of unique locations: ",count_locations.shape[0])

No. of unique locations:  42981

In [0]:
count_locations_category=x.groupby(['Venue_category_name']).size().reset_index().rename(columns={0:'count'})

In [0]:
count_locations_category

       Venue_category_name  count
0        Afghan Restaurant      4
1       African Restaurant     40
2                  Airport   2852
3      American Restaurant   3701
4           Animal Shelter     62
..                     ...    ...
246            Video Store     42
247  Vietnamese Restaurant    180
248                 Winery     31
249            Wings Joint    149
250                    Zoo    104

[251 rows x 2 columns]

## Working on Reduced data

In [0]:
df_checkin = df_nyc_checkins.iloc[:10000,:]

In [0]:
df_checkin['UTC_Time']=pd.to_datetime(df_checkin['UTC_Time'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
df_checkin['index']=(df_checkin.index.to_list())

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
df_checkin

      User_ID                  Venue_ID  ...                  UTC_Time index
0         470  49bbd6c0f964a520f4531fe3  ... 2012-04-03 18:00:09+00:00     0
1         979  4a43c0aef964a520c6a61fe3  ... 2012-04-03 18:00:25+00:00     1
2          69  4c5cc7b485a1e21e00d35711  ... 2012-04-03 18:02:24+00:00     2
3         395  4bc7086715a7ef3bef9878da  ... 2012-04-03 18:02:41+00:00     3
4          87  4cf2c5321d18a143951b5cec  ... 2012-04-03 18:03:00+00:00     4
...       ...                       ...  ...                       ...   ...
9995      389  4b37853af964a520c54125e3  ... 2012-04-11 17:06:11+00:00  9995
9996      663  4baa673bf964a520d8663ae3  ... 2012-04-11 17:08:18+00:00  9996
9997      217  4d93828762ad5481a4cd834b  ... 2012-04-11 17:08:38+00:00  9997
9998     1066  4ae0e652f964a520818321e3  ... 2012-04-11 17:09:12+00:00  9998
9999     1079  4af8875bf964a5200c0e22e3  ... 2012-04-11 17:09:13+00:00  9999

[10000 rows x 9 columns]

In [0]:
count_df_locations =df_checkin.groupby(['Latitude','Longitude']).size().reset_index().rename(columns={0:'count'})

In [0]:
count_df_locations

     Venue_category_name   Latitude  Longitude  count
0     African Restaurant  40.684159 -73.954289      1
1     African Restaurant  40.684198 -73.722027      7
2     African Restaurant  40.686415 -73.954635      1
3     African Restaurant  40.689566 -73.971935      2
4                Airport  40.639681 -73.979935      1
...                  ...        ...        ...    ...
5742         Wings Joint  40.737980 -74.030761      1
5743         Wings Joint  40.765263 -73.981582      1
5744         Wings Joint  40.815624 -74.162222      2
5745         Wings Joint  40.848644 -74.080977      1
5746                 Zoo  40.767444 -73.971934      1

[5747 rows x 4 columns]

In [0]:
count_df_locations =df_checkin.groupby(['Venue_category_name','Latitude','Longitude']).size().reset_index().rename(columns={0:'count'})

In [0]:
count_df_locations['Latitude']

0       40.684159
1       40.684198
2       40.686415
3       40.689566
4       40.639681
          ...
5742    40.737980
5743    40.765263
5744    40.815624
5745    40.848644
5746    40.767444
Name: Latitude, Length: 5747, dtype: float64

In [0]:
print("No. of unique locations: ",len(count_df_locations))

No. of unique locations:  5747

In [0]:
count_df_locations['Latitude'][0]

40.684159398078926

In [0]:
len(count_df_locations['Venue_category_name'].unique())

212

In [0]:
count_df_locations.iloc[:,1:-1]

       Latitude  Longitude
0     40.684159 -73.954289
1     40.684198 -73.722027
2     40.686415 -73.954635
3     40.689566 -73.971935
4     40.639681 -73.979935
...         ...        ...
5742  40.737980 -74.030761
5743  40.765263 -73.981582
5744  40.815624 -74.162222
5745  40.848644 -74.080977
5746  40.767444 -73.971934

[5747 rows x 2 columns]

In [0]:
count_df_locations.head()

  Venue_category_name   Latitude  Longitude  count
0  African Restaurant  40.684159 -73.954289      1
1  African Restaurant  40.684198 -73.722027      7
2  African Restaurant  40.686415 -73.954635      1
3  African Restaurant  40.689566 -73.971935      2
4             Airport  40.639681 -73.979935      1

In [0]:
dist_mat = DistanceMetric.get_metric('haversine').pairwise(count_df_locations.iloc[:,1:-1] )*6371

In [0]:
dist_mat.shape

(5747, 5747)

In [0]:
print(dist_mat)

[[   0.         1461.56774789   14.53249036 ... 1561.85487356
  1320.80852852  542.22531486]
 [1461.56774789    0.         1464.07399819 ... 2913.57781798
  2507.25587896 1667.71039199]
 [  14.53249036 1464.07399819    0.         ... 1552.47912199
  1308.14713069  527.71794715]
 ...
 [1561.85487356 2913.57781798 1552.47912199 ...    0.
   558.69220448 1249.03966609]
 [1320.80852852 2507.25587896 1308.14713069 ...  558.69220448
     0.          865.71596628]
 [ 542.22531486 1667.71039199  527.71794715 ... 1249.03966609
   865.71596628    0.        ]]

In [0]:
count_df_locations['Venue_category_name'][0]

'African Restaurant'

In [0]:
lst = [[] for i in range(dist_mat.shape[0])]
for i in range(dist_mat.shape[0]):
  for j in range(dist_mat.shape[1]):
    if dist_mat[i][j]<=100:
      lst[i].append((count_df_locations['Latitude'][j],count_df_locations['Longitude'][j]))
  #dic.update(count_locations[i],lst)

In [0]:
len(lst)

5747

In [0]:
lst[0]

[(40.684159398078926, -73.954289),
 (40.686414660176055, -73.95463511518253),
 (40.671638993520205, -73.96381202180841),
 (40.699108, -73.955248),
 (40.67241900279851, -73.96293496396677),
 (40.67682902605353, -73.96343804293126),
 (40.68193081222049, -73.94995122562862),
 (40.683419, -73.96637199999999),
 (40.68721847389229, -73.95717791452198),
 (40.672307292956866, -73.95784374357963),
 (40.68183918319128, -73.96677481467539),
 (40.687944, -73.96260874000002),
 (40.688462, -73.96271),
 (40.689876, -73.95139),
 (40.67228503425415, -73.9627870309687),
 (40.677492, -73.963759),
 (40.67986739997525, -73.96423214181858),
 (40.689522232043856, -73.95129203796388),
 (40.69084011789372, -73.95571231842041),
 (40.677823, -73.968826),
 (40.68470716795056, -73.94382640962874),
 (40.69032712271465, -73.95148383433914),
 (40.68919682411797, -73.95734310150145),
 (40.680630900000004, -73.94967198371887),
 (40.687415187557306, -73.96922528743744),
 (40.67843772387125, -73.9444406220427),
 (40.679954914547075, -73.94446358321666),
 (40.68696742717664, -73.96283738828879),
 (40.68898574915464, -73.95722383384107),
 (40.69042711809854, -73.954686775096),
 (40.68377534211099, -73.96766445527021),
 (40.68505643147357, -73.9662238094087),
 (40.692133573105004, -73.95323395729066),
 (40.67677676563912, -73.95361626406627),
 (40.68499608789172, -73.94186034276925),
 (40.696558013644136, -73.95361626406627),
 (40.67492686666667, -73.96673299999999),
 (40.67310342009613, -73.96270751953125),
 (40.67335042443954, -73.95708033593266),
 (40.682652000000004, -73.949999),
 (40.67523277142857, -73.94808477),
 (40.676851402943775, -73.95570849054509),
 (40.69543885215326, -73.94729352704111),
 (40.69080937894371, -73.95925575277442),
 (40.68955477274905, -73.94609928131105),
 (40.680247483456775, -73.943932056427),
 (40.67641886124958, -73.95891710110432),
 (40.67658045213404, -73.95895728014709),
 (40.686104057680225, -73.94382640962874),
 (40.68966427723383, -73.9597665990846),
 (40.693514249026215, -73.95788392284581),
 (40.679826, -73.941096),
 (40.66961585203345, -73.95960014369386),
 (40.680592944105136, -73.95582881515934),
 (40.688625489573134, -73.95996749333048),
 (40.68864362699706, -73.9611411094665),
 (40.68990542829335, -73.95177657844081),
 (40.677611, -73.963748),
 (40.683178000000005, -73.96574578),
 (40.6719052268743, -73.95019805107333)]

# Extracting Features

## 1. Density

In [0]:
density = [len(lst[i]) for i in range(0,len(lst))]

In [0]:
len(density)

5747

In [0]:
density[5]

23

In [0]:
count_df_locations

     Venue_category_name   Latitude  Longitude  count
0     African Restaurant  40.684159 -73.954289      1
1     African Restaurant  40.684198 -73.722027      7
2     African Restaurant  40.686415 -73.954635      1
3     African Restaurant  40.689566 -73.971935      2
4                Airport  40.639681 -73.979935      1
...                  ...        ...        ...    ...
5742         Wings Joint  40.737980 -74.030761      1
5743         Wings Joint  40.765263 -73.981582      1
5744         Wings Joint  40.815624 -74.162222      2
5745         Wings Joint  40.848644 -74.080977      1
5746                 Zoo  40.767444 -73.971934      1

[5747 rows x 4 columns]

In [0]:
count_df_locations[count_df_locations['Latitude']==lst[0][0][0]].Venue_category_name=='African Restaurant'

0    True
Name: Venue_category_name, dtype: bool

## 2. Neighbors' Entropy and 3. Competitiveness

In [0]:
categories = count_df_locations['Venue_category_name'].unique()

In [0]:
len(categories)

212

In [0]:
#lst_cat=[[] for i in range(len(lst))]
dic={}
for i in range(len(lst)):
  new_lst=[]
  for j in range(len(lst[i])):
    new_lst.append((j,count_df_locations['Venue_category_name'][j]))
  dic[(i,count_df_locations['Venue_category_name'][i])] = new_lst

In [0]:
cat_i=np.array(dic[(0, 'African Restaurant')])[:,1:2]

In [0]:
categ = np.unique(cat_i,return_counts=True)[0]

In [0]:
categ

array(['African Restaurant', 'Airport', 'American Restaurant'],
      dtype='<U21')

In [0]:
neigh_entropy=[]
for i in list(dic.keys()):
  fraction_class=[]
  entropy=0
  cat_i=np.array(dic[i])[:,1:2]
  total_count = len(cat_i)
  fraction_class=np.unique(cat_i,return_counts=True)[1]
  fraction_class = fraction_class/np.sum(fraction_class)
  for j in fraction_class:
          entropy=entropy-j*math.log2(j)
  neigh_entropy.append(entropy)

In [0]:
neigh_entropy[0]

NameError: ignored

In [0]:
np.unique(cat_i,return_counts=True)[0][0] in dic[i][1]

True

In [0]:
np.unique(cat_i,return_counts=True)

(array(['African Restaurant', 'Airport', 'American Restaurant',
        'Animal Shelter', 'Antique Shop', 'Arcade', 'Art Gallery',
        'Art Museum', 'Arts & Crafts Store', 'Arts & Entertainment',
        'Asian Restaurant', 'Athletic & Sport', 'Automotive Shop',
        'BBQ Joint', 'Bagel Shop', 'Bakery', 'Bank', 'Bar'], dtype='<U21'),
 array([  4,  30, 118,   2,   1,   9,  14,  10,   7,   1,  25,  16,  17,
         32,  14,  51,  71, 131]))

In [0]:
(0, 'African Restaurant')[1]

'African Restaurant'

In [0]:
def entropy_competi(dic):
  neigh_entropy=[]
  competitiveness=[]
  for i in list(dic.keys()):
    fraction_class=[]
    competition=0
    entropy=0
    cat_i=np.array(dic[i])[:,1:2]
    total_count = len(cat_i)
    categ = np.unique(cat_i,return_counts=True)[0]
    fraction_class=np.unique(cat_i,return_counts=True)[1]
    fraction_class = fraction_class/np.sum(fraction_class)
    for j in range(len(categ)):
      if(categ[j] == i[1]):
        competition = fraction_class[j]
        break
    competitiveness.append(competition)
    for k in fraction_class:
            entropy=entropy-k*math.log2(k)
    neigh_entropy.append(entropy)
  return((competitiveness,neigh_entropy))

In [0]:
comp,ne = entropy_competi(dic)

In [0]:
ne[0]

1.2832547532764527

In [0]:
len(neigh_entropy)

5747

In [0]:
neigh_entropy[0]

1.2832547532764527

In [0]:
np.unique(cat_i,return_counts=True)[0]

array(['African Restaurant', 'Airport', 'American Restaurant',
       'Animal Shelter', 'Antique Shop', 'Arcade', 'Art Gallery',
       'Art Museum', 'Arts & Crafts Store', 'Arts & Entertainment',
       'Asian Restaurant', 'Athletic & Sport', 'Automotive Shop',
       'BBQ Joint', 'Bagel Shop', 'Bakery', 'Bank', 'Bar'], dtype='<U21')

In [0]:
len(neigh_entropy)

5747

In [0]:
len(density)

5747

## 4. Quality by Jensen

In [0]:
categories[0]

'African Restaurant'

In [0]:
np.unique(np.array(dic[list(dic.keys())[0]])[:,1:2])

array(['African Restaurant', 'Airport', 'American Restaurant'],
      dtype='<U21')

In [0]:
neig_mat = np.zeros((len(categories),len(categories)))

In [0]:

neig_mat.shape

(212, 212)

In [0]:
neig_mat[0][0]

0.0

In [0]:
np.unique(np.array(dic[(0, 'African Restaurant')])[:,1:2],return_counts=True)[1]

In [0]:
def count_cat(j,i):
  if(dic[j][1]==i): 
    count+=i

In [0]:
for j in range(len(lst)):
  for i in categories:
    if(dic[j[1]==i]):
      count_i+=1

## 5. Area Popularity

In [0]:
count_df_locations.head()

  Venue_category_name   Latitude  Longitude  count
0  African Restaurant  40.684159 -73.954289      1
1  African Restaurant  40.684198 -73.722027      7
2  African Restaurant  40.686415 -73.954635      1
3  African Restaurant  40.689566 -73.971935      2
4             Airport  40.639681 -73.979935      1

In [0]:
np.sum([density[i]==0 for i in range(len(density))])

0

In [0]:
lst[4]

[(40.63968085124788, -73.97993533649185),
 (40.63546678381779, -73.99186684082225),
 (40.6365, -73.98679),
 (40.636735711488974, -73.99040342059492),
 (40.634856, -73.965126),
 (40.63949763333333, -73.97983020000002),
 (40.63605511596764, -73.99116669606713),
 (40.653046, -73.973021),
 (40.62586036296825, -73.97625071067725),
 (40.648436832434776, -73.97850626102887),
 (40.651622570231545, -73.97572268998049),
 (40.63981002719504, -73.96745208982402),
 (40.639901, -73.983202),
 (40.6394869711505, -73.97977360650297),
 (40.639413333333344, -73.97987413333334),
 (40.642719, -73.97949),
 (40.643109, -73.983272),
 (40.626571000000006, -73.97696897971106),
 (40.639413333333344, -73.97982253333333),
 (40.634242310367384, -73.98054369471026),
 (40.64715352960956, -73.97881044263973),
 (40.63063339189206, -73.97712595918333),
 (40.632300871701176, -73.98887973002674),
 (40.64053341403471, -73.97712595918333),
 (40.642200982303464, -73.98887973002674),
 (40.639489815065495, -73.97976889853065),
 (40.63005374686578, -73.97696812777984),
 (40.63959493837358, -73.97915479859958),
 (40.651731755230315, -73.97266387939453),
 (40.637357, -73.99001),
 (40.6410350100745, -73.97974020231588),
 (40.639413333333344, -73.97987413333334),
 (40.644042999999996, -73.976789),
 (40.63489672592632, -73.98903181267967)]

In [0]:
count=0
area_pop=[]
for j in lst[4]:
    for k in range(count_df_locations.shape[1]):
      if(j[0]==count_df_locations['Latitude'].values[k]):
        print(count)
        count+=count_df_locations['count'][k]
area_pop.append(count)

In [0]:
area_pop

[0]

In [0]:
count_df_locations['count'][0]

1

In [0]:
lst[4][0][0]==40.63968085124788

True

In [0]:
lst[4][0][0] in count_df_locations['Latitude'].values

True

In [0]:
lst[0][0][0]

40.684159398078926

In [0]:
count_df_locations['Latitude'][0]

40.684159398078926

In [0]:
area_pop=[]
for i in range(len(lst)):
  count=0
  for j in lst[i]:
    for k in range(count_df_locations.shape[1]):
      if(j[0]==count_df_locations['Latitude'][k]):
        print((j[0],k))
        count+=count_df_locations['count'][k]
  area_pop.append(count)

(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68419809161396, 1)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.686414660176055, 2)
(40.684159398078926, 0)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68419809161396, 1)
(40.68956576688808, 3)
(40.686414660176055, 2)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68419809161396, 1)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.684159398078926, 0)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68419809161396, 1)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68419809161396, 1)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68419809161396, 1)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68419809161396, 1)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68419809161396, 1)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68419809161396, 1)
(40.68956576688808, 3)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68419809161396, 1)
(40.68419809161396, 1)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68419809161396, 1)
(40.686414660176055, 2)
(40.68419809161396, 1)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68419809161396, 1)
(40.68419809161396, 1)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68419809161396, 1)
(40.68419809161396, 1)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68419809161396, 1)
(40.68419809161396, 1)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68419809161396, 1)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68419809161396, 1)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68419809161396, 1)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.686414660176055, 2)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68419809161396, 1)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68419809161396, 1)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68419809161396, 1)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68419809161396, 1)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68419809161396, 1)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68419809161396, 1)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.686414660176055, 2)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.68956576688808, 3)
(40.684159398078926, 0)
(40.686414660176055, 2)
(40.68956576688808, 3)

In [0]:
np.sum(area_pop)

536

In [0]:
area_pop[4]

0

## 6. Transition Density

In [0]:
df_checkin.head()

   User_ID                  Venue_ID  ...                  UTC_Time index
0      470  49bbd6c0f964a520f4531fe3  ... 2012-04-03 18:00:09+00:00     0
1      979  4a43c0aef964a520c6a61fe3  ... 2012-04-03 18:00:25+00:00     1
2       69  4c5cc7b485a1e21e00d35711  ... 2012-04-03 18:02:24+00:00     2
3      395  4bc7086715a7ef3bef9878da  ... 2012-04-03 18:02:41+00:00     3
4       87  4cf2c5321d18a143951b5cec  ... 2012-04-03 18:03:00+00:00     4

[5 rows x 9 columns]

In [0]:
df_checkin.iloc[:,4:6]

       Latitude  Longitude
0     40.719810 -74.002581
1     40.606800 -74.044170
2     40.716162 -73.883070
3     40.745164 -73.982519
4     40.740104 -73.989658
...         ...        ...
9995  40.775186 -73.963302
9996  40.773502 -73.981026
9997  40.755661 -73.975389
9998  40.766741 -73.982156
9999  40.754174 -73.971846

[10000 rows x 2 columns]

In [0]:
x=[tuple(i) for i in count_df_locations.iloc[:,1:-1].values]

In [0]:
df_checkin['Location']=[tuple(i) for i in df_checkin.iloc[:,4:6].values]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
df_checkin

      User_ID  ...                                  Location
0         470  ...   (40.71981037548853, -74.00258103213994)
1         979  ...  (40.606799581406435, -74.04416981025437)
2          69  ...   (40.71616168484322, -73.88307005845945)
3         395  ...               (40.7451638, -73.982518775)
4          87  ...   (40.74010382743943, -73.98965835571289)
...       ...  ...                                       ...
9995      389  ...   (40.77518644745349, -73.96330162882805)
9996      663  ...   (40.77350198619314, -73.98102578853477)
9997      217  ...   (40.75566091379096, -73.97538900375365)
9998     1066  ...   (40.76674068362153, -73.98215640859391)
9999     1079  ...                   (40.754174, -73.971846)

[10000 rows x 10 columns]

In [0]:
df_checkin[df_checkin['User_ID']==87]

      User_ID  ...                                  Location
4          87  ...   (40.74010382743943, -73.98965835571289)
10         87  ...         (40.74348254, -73.99400899999999)
3001       87  ...   (40.74218830848454, -73.98792418909154)
3058       87  ...  (40.754116747135726, -73.97987365722656)
6523       87  ...    (40.74926221909231, -73.9839814563788)
6708       87  ...  (40.738185367290185, -73.99218247901545)
8103       87  ...  (40.756125558705904, -73.96446172990993)
8108       87  ...   (40.75621625245672, -73.96428379916298)
8711       87  ...           (40.739385999999996, -73.99185)
9370       87  ...   (40.75611913826422, -73.97253157753975)
9427       87  ...    (40.7560872511761, -73.96758984041037)
9848       87  ...  (40.758728399405584, -73.97855791454387)
9863       87  ...    (40.74080321767426, -73.9897778767785)

[13 rows x 10 columns]

In [0]:
df_checkin['User_ID'].unique()

array([ 470,  979,   69,  395,   87,  484,  642,  292,  428,  877,  625,
        691,  116,  931,   53,  445,  135,  895,  704,  891,  284,  901,
        803,  699,  100,  443,  689,  390,   32,  230,  834,  962, 1032,
        525,  318, 1047,  738,  364,  398,  839,  424,  751,  889,  612,
        643,  718,  768,   15,  458,  280, 1016,  281,  366,  276,  227,
         80,  673,  337,  916,  639,  752,  713,  449, 1012,  749,  438,
        217,  656,  225,  628,  504,  226,  164,  235,  118, 1054,  881,
        706,  143, 1005,  912,  537,  406,  868, 1055,  907,  303,  793,
        784,  734,  540,  816,  623,  950,  294,  615,  385,  173,  801,
         16,  467,    7,  592,  669,  574,  436,  636,  865,  621,  272,
       1063,  591,  976,  562,  783,  319,  468,  874,  107,  667,  557,
        725,  774,  880,  288,  335,  769,  194,  403,  573,  346,  968,
        539,  184,  144,   71,  688,   65,  885,  267,  820,  516,  176,
        528,   30,  246,  515,  710,  145,  498,  894,  313,  120,  798,
        598, 1078,  195,   59,  662,  425,  756,  553,  702,  620,   84,
        129,  256,  864,  658,  951,  809,  817,  371,  121,  204,  420,
         49,   50,   29,  519,  340, 1010,  117, 1034,  391,  526,  645,
        258,  758,  653,  611,   47,  192,  455,  577,  984, 1025,  354,
        373,  902,  571,  440,  987,  185,  559,  786,  279,  264,  529,
        131,  101,  207,   78,  943,  179,  469,    4,  444,  586,  381,
        510, 1044,  572, 1072,  766,  162,  299,  652,  315,  637,   12,
        787,  300,  633,  883, 1002,  672,  973,  316, 1026,  597,  307,
        422,  365,  805,  905,  940,  359,  191,  130,  186,  692, 1009,
        806,  418, 1076,  842,  125,  474,   26,  777,   90,  989,  715,
        139,  593,  324,  328,  402,   57,  221,  198,  772,  408,  535,
        818,  187,  242,  994,  509,  969,  861,  389,  799,  955,  361,
        296,  378,   85,  826,  475,  134,  149,   54,  650,  432,  386,
        626,  215,   17, 1013,  848,  188,  434,   14,  788,  854,  985,
       1083,  113,  415,  649,  208,  556,  619,  990,  722, 1042,  480,
         79,  362,  495, 1040,  530,  169, 1059,  311,  500,  251,  995,
        733,  367,  824, 1070,  903,  417,  770,  800,  312,  957,  936,
        721,  291,  370,  387,  218,  271,  348,  152,  964,  802, 1082,
        287,  682,  108,    3,  297,   74,  338,   21,  917,  882,  599,
        158,  293,  170, 1066,  520,  971,  255,  511,  463,  254,  234,
        797,  290,  792,  339,  884, 1064,  746,  946,  148,  427,  582,
       1024,  614,  347,  372,  565,  273,  114,  259,  501, 1071,  405,
        527,  890,  282,  492,  857,  301,  827,  400,  677,   56,  534,
        804,  167,  505,  570,  887,  203,  265,  925,  518,  180, 1079,
        922,  663,  524,  238,  161,  578,  844, 1029,  697,  392,  360,
        906, 1014,  102, 1060,  448,  105,  496,   81,  742,  981,  404,
         10,  343,  698,  216,  363,  136,   73,  632,  531,  317,  728,
        660, 1033,  584,  871,   44,  952,  320,  996,  837,   34,  248,
        947,  629,  493,   70,  413,  439,  678,  983,  948,  181,  829,
        419, 1074,  965,  859,  260,  970,  244, 1021,  855,  396,  175,
        241,  285,  869,   83,  879, 1001,  521,   95,  409,  778,  275,
        727,  456, 1018,  708,  119,   24,  356,  331,  465,  412,  379,
         40,  953,  132,   96,  705,  228,  604,  762,  918,  739,  240,
        233,  489,  561,  309,  153,  453,  344,  250,  654,  941,  541,
        958,  686,  579,  549,  190,   46,  423,  560,  357,  202,  446,
        473,  269,  141,  247,  499,  397,  332,  104,  349, 1051,  853,
        155,  171,  651,  696, 1011,  277, 1030,  124,  847,  878,  322,
        407,  212,  314, 1038,    2,  261, 1075,  298,  657,  851,    9,
        731,  813,  310,  126,  481,   23,  695,  568,   58,  305, 1065,
         52,  388,  128,  491,  452,  110,  231,  355,  159,  627,  680,
        701,  461, 1073,  836,  471,  375,  543,   43,  999,  243,  533,
        140,  514,  283,  334,  956,  819,  503,  630,  666,  601,  610,
        606,  566,  178, 1031,  937,  274,  967,  512, 1049, 1027,  196,
        374,  482,  563,   60,  631, 1057,  908,   55, 1068,  830,  575,
        210,  182,  304,  383,  229,  457,  674,  564,  166, 1019,  693,
        368,  414,  724,  483,  608,  433,  616,  870,    1,  353,  933,
        536,  323,   33,  508,  358,  949,  163,  115,  327,  913,  333,
         51,   61,  377,  659,   97,  401,  858,  833,  342,  846,  206,
        478,  122,   63,  308,  683,  581,  856, 1080,  253,  791,  507,
         62,  464,  306,  648,  972,   75,  982,  376,  278,  888,  160,
        750,  609,   48,  763,  942,  684,  603,  717,  767, 1053,   37,
        927,   86,  986,  707,  893,  723,  380,  245,  624,  431,  831,
        454, 1048,  214,  945,  744,  622,  992,  977,  759,  270,  781,
        811,  668,  133, 1058,  812, 1023,  690,  532,  399, 1003,  840,
         92, 1028,  825, 1007,  513,  329,  679,  607,  576,  544,  712,
        345,  112,   39,  737,  330, 1015, 1052,  716,  892,  776,   19,
         76,  897,  352,  635,  252,  211, 1041,  123,  647,   72,  594,
        975,  569,  220, 1036,  873,  222,  295,   20,  138,  828,  638,
        410, 1069,  644,  780,  974,  703,  726,  554,  289,  183,  150,
       1000,  462,  939,  384,   45,  904,  863, 1045,  714,  213,  613,
       1020,  745,   94,  257,  814,  823,   93,  237,  822,   18,  980,
        694,  661,  760,  785,  735,  466,  590,  435,  736,   42,  393,
       1039,  909,  177,  588,   91,  929,  910,  646, 1062,  421, 1006])

In [0]:
lst[0][0]

(40.684159398078926, -73.954289)

In [0]:
df_checkin['Location']

0        (40.71981037548853, -74.00258103213994)
1       (40.606799581406435, -74.04416981025437)
2        (40.71616168484322, -73.88307005845945)
3                    (40.7451638, -73.982518775)
4        (40.74010382743943, -73.98965835571289)
                          ...
9995     (40.77518644745349, -73.96330162882805)
9996     (40.77350198619314, -73.98102578853477)
9997     (40.75566091379096, -73.97538900375365)
9998     (40.76674068362153, -73.98215640859391)
9999                     (40.754174, -73.971846)
Name: Location, Length: 10000, dtype: object

In [0]:
temp_df

Empty DataFrame
Columns: [level_0, User_ID, Venue_ID, Venue_category_ID, Venue_category_name, Latitude, Longitude, Timezone_offset, UTC_Time, index, Location]
Index: []

In [0]:
def get_count(temp_df):
  count=0
  for i in range(len(temp_df)):
    for j in range(1,len(temp_df)):
      if(temp_df.Location[i]!=temp_df.Location[j] and (0<=(temp_df['UTC_Time'][j]- temp_df['UTC_Time'][i]).days<=1)):
        #print(i,j)
        count+=1
        print("count:",count)
  return(count)